body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.quiz-container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

h1 {
    text-align: center;
}

.question {
    font-weight: bold;
    margin-top: 20px;
}

.options {
    margin-left: 20px;
}

button {
    display: block;
    margin: 30px auto;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
